﻿doctype html
html
 head
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css')
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js')
  script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js')

 body
  .container
   nav(class='navbar navbar-default')
    .container-fluid
     .navbar-header
      a(class='navbar-brand' href='#') PNK
       ul(class='nav navbar-nav')
        li
         a(href="/") Home
        if !session.activeuser
         li
          a(href="/users/login") Login
         li
          a(href="/users/registerform") Register
        else
         li
          a(href="/users/management") Profile
         li
          a(href="/users/logout") Logout

   block content