﻿extends layout

block content
 .row
  .col-md-6
   h3 Please Log In
   form(role='form',method='POST', action='/users/login')
    .form-group
     label(for='Email') Email: 
     input(type='text', class='form-control', id='Email', name = 'Email')
    .form-group
     label(for='Password') Password: 
     input(type='password', class='form-control', id='Password', name = 'Password')
    button(type='submit', class='btn btn-default') Submit