﻿extends layout

block content
 .row
  .col-md-6
   h3 Update Your Profile
   form(role='form',method='POST', action='/users/Update')
    .form-group
     label(for='FirstName') First Name: 
     input(type='text', class='form-control', id='FirstName', name = 'FirstName', value =session.activeuser.data.firstName)
    .form-group
     label(for='LastName') Last Name: 
     input(type='text', class='form-control', id='LastName', name = 'LastName', value =session.activeuser.data.lastName) 
    .form-group
     label(for='Email') Email: 
     input(type='text', class='form-control', id='Email', name = 'Email', value =session.activeuser.data.email)
    .form-group
     label(for='Description') Description: 
     input(type='text', class='form-control', id='Description', name = 'Description', value =session.activeuser.data.description)
    button(type='submit', class='btn btn-default') Update