﻿extends layout

block content
 .row
  .col-md-6
   form(role='form',method='POST', action='/users/register')
    .form-group
     label(for='FirstName') First Name: 
     input(type='text', class='form-control', id='FirstName', name = 'FirstName')
    .form-group
     label(for='LastName') Last Name: 
     input(type='text', class='form-control', id='LastName', name = 'LastName')
    .form-group
     label(for='Email') Email: 
     input(type='text', class='form-control', id='Email', name = 'Email')
    .form-group
     label(for='Description') Description: 
     input(type='text', class='form-control', id='Description', name = 'Description')
    .form-group
     label(for='Password') Password: 
     input(type='password', class='form-control', id='Password', name = 'Password')
    .form-group
     label(for='ConfirmPassword') Confirm Password: 
     input(type='password', class='form-control', id='ConfirmPassword', name = 'ConfirmPassword')
    button(type='submit', class='btn btn-default') Submit